@media (max-width: 991px) {
    .site-menu {
        display: none;
    }

    .icons {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .site-blocks-cover h1 {
        font-size: 32px;
    }

    .title-section h2 {
        font-size: 24px;
    }

    .item-title {
        font-size: 13px;
    }

    .current-price {
        font-size: 14px;
    }

    .search-form-header {
        display: none;
    }
}
