.bg-light {
    background: var(--gray-bg) !important;
    padding: 15px 0;
}

.breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0;
}

    .breadcrumb a {
        color: var(--text-light);
    }

        .breadcrumb a:hover {
            color: var(--primary);
        }

    .breadcrumb .text-black {
        color: var(--primary);
        font-weight: 500;
    }
